/* glow effect over reserve time */
.glow-effect {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    font-weight: bold;
    transition: text-shadow 0.3s ease-in-out;
}

.hero-gold {
    color: #ffd700; /* Gold color */
    font-size: 12px;
    font-weight: bold;
}

.hero-level {
    color: #00ff00; /* Green color */
    font-size: 12px;
    font-weight: bold;
}

.gold-icon {
  width: 16px; /* Adjust the width as needed */
  height: 16px; /* Adjust the height as needed */
  vertical-align: middle; /* Align the icon with the text */
}